<!doctype html>
<html lang="ru" id="html">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- GoogleFonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700&amp;subset=cyrillic"
            rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- inner.css -->
        <link rel="stylesheet" href="/css/realtor.css">
        <link rel="stylesheet" href="/css/form.css">
        <!-- <link rel="stylesheet" href="/loader.css"> -->
        <title>Realtor</title>
    </head>

    <body>
        <!-- navbar -->
        <nav id="mainNavbar" class="navbar navbar-custom navbar-expand-lg  bg-dark py-0 link_a_color">
            <a class="navbar-brand" href="/">
                <img src="/img/my_home7.png" alt="logo">

            </a>
            <button class="navbar-toggler navbar-inverse navbar-light btn" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start ml-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/sell">Продать <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/buy">Купить <span class="sr-only">(current)</span></a>
                    </li>
                    </li>
                    <a class="nav-link" href="/propertyAll">Объекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Обо Мне</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новости</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto pr-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% if(!currentUser){ %>
                            <a class="nav-item dropdown-item" href="/login">Login</a>
                            <% } else { %>
                            <a class="nav-item dropdown-item" href="/logout">Logout</a>
                            <a class="nav-item dropdown-item" href="/register">Sing in</a>
                            <a class="nav-item dropdown-item" href="/propertyAll/new">Добавить объект</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login as: _ <em><%= currentUser.username  %></em></a>
                    </li>
                    <% } %>       
                </ul>
            </div>
        </nav>
        <!-- navbar -->
        <div class="container">
            <% if(error && error.length > 0){ %>
            <h4 class="text-warning"><%= error %></h4>
             <% } %>
            <% if(success && success.length > 0){ %>
            <h4 class="text-warning"><%= success %></h4>
             <% } %>
        </div>
       