<% include partials/header %>
<!-- SecondBlock -->
<div class="row second-block">
    <!-- Header -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="contentSecond">
                    <h2 class="textDarkH">
                        Обо <span class="headBlue"> мне ...</span>
                    </h2>
                    <p class="textDarkPThing">
                        Клиенты доверяют нам
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="about">
                    <img src="img//IMG_3489 — копия.jpg" class="imgAbout rounded float-left" alt="LenaImg">

                    <p class="textDarkP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
                        rerum,
                        laudantium explicabo unde est quod aliquam quae nostrum! Officiis animi sapiente


                        spti magni vero voluptates temporibus dolores molestiae dolorem
                        quidem
                        hic quibusdam delectus, cumque perspiciatis quas modi soluta quasi ullam accusantium
                        facilis
                        maxime, molestias ab id eos. Unde, amet.</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel?
                    </p>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>

    </div>

    <!-- Header -->

</div>
<!-- SecondBlock -->




<% include partials/footer %>