<% include partials/header %>

        <!-- Grid container -->

        <!-- FirstBlock -->
        <div class="row first-block">
            <!-- Header -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contentFirst">
                            <h2>
                                Мы продаем, то <span class="headBlue">Что мы продаем</span>
                            </h2>
                            <p>
                                Квартира продается быстрее, если у Вас есть РИЭЛТОР.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Header -->

        </div>
        <!-- FirstBlock -->
        <!-- SecondBlock -->
        <div class="row second-block">
            <!-- Header -->
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="contentSecond">
                            <h2 class="textDarkH">
                                С Нами Вы <span class="headBlue"> получите ...</span>
                            </h2>
                            <p class="textDarkPThing">
                                Клиенты доверяют нам
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="contentTextLight">
                            <i class="fas fa-desktop">
                                <span class="circle"></span>
                            </i>
                            <p class="textDarkP">Бесплатная реклама</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contentTextLight">
                            <i class="fas fa-home">
                                <span class="circle"></span>
                            </i>
                            <p class="textDarkP">Выгодная продажа</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contentTextLight">
                            <i class="fas fa-lock">
                                <span class="circle"></span>
                            </i>
                            <p class="textDarkP">Безопасность сделки</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Header -->

        </div>
        <!-- SecondBlock -->
        <!-- ThirddBlock -->
        <div class="row third-block">
            <!-- Header -->
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="contentThird">
                            <h2 class="textDarkH">
                                Мы продаем <span class="headBlue"> быстрее и выгоднее ...</span>
                            </h2>
                            <p class="textDarkPThing">
                                Вы получаете поддержку профессионалов
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md">
                        <div class="card">
                            <img src="img/count.jpeg" class="card-img-top-home" alt="...">
                            <div class="card-body">
                                <h5 class="card-title-home-home">Оценка</h5>
                                <p class="card-text">Вы получите экспертную оценку рыночной стоимости Вашей
                                    недвижимости,
                                    индивидуальные рекомендации по стратегии продажи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md">
                        <div class="card">
                            <img src="img/advert1.jpeg" class="card-img-top-home" alt="...">
                            <div class="card-body">
                                <h5 class="card-title-home">Реклама</h5>
                                <p class="card-text">Мы разместим информацию о продаже в во всех
                                    эффективных источниках. И это будет для Вас бесплатно.
                                    А также возьмем на себя весь поток входящих звонков.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md">
                        <div class="card">
                            <img src="img/office_people.png" class="card-img-top-home" alt="...">
                            <div class="card-body">
                                <h5 class="card-title-home">Поддержка</h5>
                                <p class="card-text">Вы получите поддержку проверенных профессионалов: юрисов,
                                    брокеров, нотариусов, специалистов банков и т.д.
                                    Мы обезопасим Вас от сомнительных предоложений.
                                    Подготовим необходимые документы.
                                    На сделке Вы будете не одни!

                                </p>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <!-- Header -->

        </div>
        <!-- ThirdBlock -->

        


        <!-- Grid container -->


<% include partials/footer %>