<% include partials/header %>
<div class="form container">
    <div class="jumbotron mb-2">
        <h1 class="display-6">Ваше сообщение было успешно отправлено!</h1>
        <p class="lead">Мы свяжемся с Вами в ближайшее время.</p>
        <hr class="my-4">
        <p>Спасибо, что воспользовались нашим сервисом!</p>
    </div>
</div>


<% include partials/footer %>