<% include partials/header %>

<div class="row second-block">
    <div class="container">
        <div class="row text-right mt-2">
            <div class="col">
                <a class="btn btn-outline-secondary btn-large" href="propertyAll/new">Добавить новый объект
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="contentSecond">
                <h2 class="textDarkH">
                    Объекты в продаже
                </h2>
            </div>
        </div>



        <div class="row justify-content-start">
            <% property.forEach(function(property){ %>
            <div class="card m-4 AllPropLinks" style="width: 20rem;">

                <img src="<%= property.img %>" alt="" class="card-img-top">
                <h5 class="card-title text-center">
                    <%= property.price %>
                </h5>
                <div>
                    <a href="/propertyAll/<%= property._id %>">
                        <p class="card-text text-center" style="min-height: 4rem;">
                            <%= property.mainHeader.substring(0, 50) %> ...
                        </p>
                    </a>
                </div>

            </div>
            <% }); %>
        </div>

    </div>
</div>


<% include partials/footer %>