<% include partials/header %>
<!-- SecondBlock -->
<div class="row second-block">
    <!-- Header -->
    <div class="container">

        <div class="row">
            <div class="col"></div>
            <div class="col-lg-10">
                <div class="contentSecond">
                    <h2 class="textDarkH">
                        3 комнатная квартира, 84 м2, 7 этаж, дом 7 этажей
                    </h2>
                    <p class="textDarkPThing">
                        Клиенты доверяют нам
                    </p>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <!-- Image Property Slider -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <!-- Container for the image gallery -->
                    <div class="containerProp">
                        <h4>MY HOME gold Team realtor</h4>

                        <!-- Full-width images with number text -->
                        <div class="mySlides">
                            <div class="numbertext">1 / 6</div>
                            <img src="/imgProperty/IMG_2544.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">2 / 6</div>
                            <img src="/imgProperty/IMG_2548.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">3 / 6</div>
                            <img src="/imgProperty/IMG_2549.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">4 / 6</div>
                            <img src="/imgProperty/IMG_2550.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">5 / 6</div>
                            <img src="/imgProperty/IMG_2544.jpg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">6 / 6</div>
                            <img src="/imgProperty/IMG_2544.jpg" style="width:100%">
                        </div>


                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>






                        <!-- Thumbnail images -->
                        <div class="rowProp">
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2544.jpg" style="width:100%"
                                    onmouseenter="currentSlide(1)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2548.jpg" style="width:100%"
                                    onmouseenter="currentSlide(2)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2549.jpg" style="width:100%"
                                    onmouseenter="currentSlide(3)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2550.jpg" style="width:100%"
                                    onmouseenter="currentSlide(4)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2544.jpg" style="width:100%"
                                    onmouseenter="currentSlide(5)" alt="MY HOME gold Team realtor">
                            </div>
                            <div class="columnProp">
                                <img class="demo cursor" src="/imgProperty/IMG_2544.jpg" style="width:100%"
                                    onmouseenter="currentSlide(6)" alt="MY HOME gold Team realtor">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image Property Slider -->

        <!-- Property type, floor -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="table-responsive-md">
                    <table class="table tableProperty">
                        <tbody>
                            <tr>
                                <td>Площадь кухни: </td>
                                <td class="boldProp">22 м2</td>
                                <td>Тип дома: </td>
                                <td class="boldProp">Панельный</td>
                            </tr>
                            <tr>
                                <td>Жилая площадь: </td>
                                <td class="boldProp">44 м2</td>
                                <td>Количество комнат: </td>
                                <td class="boldProp">3 комнаты</td>
                            </tr>
                            <tr>
                                <td>Этаж: </td>
                                <td class="boldProp">7</td>
                                <td>Общая площадь: </td>
                                <td class="boldProp">84 м2</td>
                            </tr>
                            <tr>
                                <td>Адрес: </td>
                                <td class="boldProp">Сантк Петербург, улица Ленсовета д.10</td>
                                <td>Метро: </td>
                                <td class="boldProp">Парк Победы</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- Property type, floor -->
        <!-- Maps Property -->
        <!-- Maps Property -->

        <!-- Text Description -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 textProperty">
                    <hr>
                    <p>
                        Год постройки: 1958
                        Покрытие пола: паркет
                        Высота потолков: 3,15 м
                        Отопление: центральное
                        Наличие парковки: стихийная Продается квартира, в которую можно въехать и жить. В квартире
                        выполнен качественный ремонт
                        для СЕБЯ: стены выравнены штукатуркой, потолки натяжные матовые, в комнатах паркет, в санузле и
                        коридоре керамогранит и
                        теплый пол. Установлены двухкамерные стеклопакеты, новые водопроводные коммуникации и счетчик
                        на воду, новая
                        электрическая проводка. В подарок покупателю остаеться кухня с бытовой техникой. На этаже
                        четыре квартиры.
                        Интеллигентные и спокойные соседи. Парадная чистая. На входной двери установлен домофон. Дом
                        Сталинский, год постройки
                        1958. Перекрытия железобетонные. С 2008 по 2011 год в доме был произведен ремот и замена
                        системы канализования и
                        водоотведения, ремонт конструкций и замена покрытий крыш,замена системы отопления, системы
                        холодного водоснабжения и
                        системы электроснабжения. В доме есть полноразмерный лифт. Двор дома очень уютный и зеленый, с
                        детской площадкой и
                        парковочными местами по переметру. Поблизости школа и поликлиника, магазины, сбербанк, аптека,
                        Чесменская церковь . До
                        ст. метро Парк Победы и до ст. метро Московская 10 минут пешком. Собственность больше 5 лет.
                        Подходит под ипотеку,
                        материнский капитал.
                    </p>
                    <hr>
                </div>

            </div>
        </div>
        <!-- Text Description -->

    </div>

    <!-- Header -->

</div>
<!-- SecondBlock -->

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex -
            1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

<% include partials/footer %>