<% include partials/header %>

<h1>Sign Up</h1>

<div class="container">
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Sign Up</button>
    </form>
</div>


<% include partials/footer %>