<% include partials/header %>

<div class="container">
    <div class="row">
        <form action="/upload" action="POST" enctype="multipart/form-data">
            <input type="file" name="photos" multiple />
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
</div>


<% include partials/footer %>