<% include partials/header %>

<div class="container">
    <div class="row">
        <div id="drop-area">
  <form class="my-form" action="/upload" method="POST" enctype="multipart/form-data">
    <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
    <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
    <label class="button" for="fileElem">Select some files</label>
  </form>
  <progress id="progress-bar" max=100 value=0></progress>
  <div id="gallery" /></div>
</div>
    </div>
</div>


<% include partials/footer %>