/* stylelint-disable selector-list-comma-newline-after */


.blog {
    background: rgb(243, 248, 252);
    color: var(--font-colorBlack);
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

/* Blog posts */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-link>a {
    color: var(--font-colorBlack);
    font-weight: bold;
    transition: color .5s;
}

.blog-post-link>a:hover {
    text-decoration: none;
    color: var(--font-colorBlue);
}



.blog-post-title {
    margin-bottom: .25rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.blog-img {
    float: left;
    max-width: 50%;
    margin: .3rem .5rem .5rem 0;
}

.blog-post>p {
    text-indent: 3%;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/* new Blog */
.header_text.form-control {
    height: 3rem;
}

.content_text.form-control {
    height: 30rem;
}

/* Footer */

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}