* {
    /* --main-font: 'Poppins', sans-serif; */
    --main-font: 'Montserrat', sans-serif;
    --back-colorBlue: #23425c !important;
    --back-colorWhite: white;
    --back-colorGrey: rgb(248, 248, 250);
    --back-colorGrey3: rgb(238, 238, 240);

    --font-colorWhite: white;
    --font-colorBlack: #485e74;
    --font-colorBlue: rgb(73, 170, 244);
    --font-colorGrey: rgb(177, 177, 177);


    --border-colorGrey: rgb(235, 235, 235);
    --border-colorBlue: rgb(184, 224, 254);

    font-family: var(--main-font);


}


.navbar-custom {
    background-color: #23425c !important;
    text-transform: uppercase;
    font-size: 0.8rem;
}


body,
.link_a_color a {
    color: var(--font-colorWhite);
    background: var(--back-colorBlue);

}

.navbar-brand img {
    margin-left: 4rem;
    width: 6rem;
    height: 3rem;
    filter: brightness(2);
}

.scrolled img {
    filter: brightness(0.5);
}

.navbar-toggler-icon span {
    filter: brightness(0.5) !important;

}


/* navbar */
#mainNavbar {
    height: 4rem;
}

.navbar-custom.scrolled,
.scrolled a,
.AllPropLinks>a {
    background-color: white !important;
    color: var(--font-colorBlack);
    position: sticky;
    top: 0;
    transition: background 1s;
    z-index: 1;
    text-decoration: none;

}

/* navBar hover */
.navbar-custom a:hover,
.AllPropLinks>a:hover {
    color: var(--font-colorBlue);
    transition: color .5s;
}

.navbar-custom a:hover::first-letter {
    text-decoration: underline;
    transition: color .5s;
}

/* navabar */


/* firstBlock*/
h2 {
    font-weight: 100;
    font-size: 2.5rem;
    color: var(--font-colorWhite);
    margin-top: auto;
}

.contentFirst {
    text-align: center;
    padding-top: 15%;
}

.contentSecond {
    text-align: center;
    padding-top: 10%;
}

.contentThird {
    text-align: center;
    padding-top: 10%;
}

.headBlue {
    color: var(--font-colorBlue);
}

.contentFirst p {
    font-size: 0.8rem;
    letter-spacing: .3rem;
    word-spacing: 1rem;
    text-transform: uppercase;
}

.first-block {
    padding-bottom: 15rem;

}

/* secondBlock */
.contentTextLight {
    text-align: center;
    padding-top: 15%;
}

.second-block {
    background: var(--back-colorGrey);
    padding-bottom: 10rem;
}

.third-block {
    background: var(--back-colorGrey3);
    padding-bottom: 5rem;
}

[class*="col-md"] {
    margin-bottom: 30px;
}

.contentTextLight .fas {
    color: var(--font-colorBlue);
    font-size: 2rem;
    text-align: center;
    height: 4rem;
}

.circle {
    display: block;
    height: 6rem;
    width: 6rem;
    border: 2px solid var(--border-colorGrey);
    box-shadow: 2px 2px 2px var(--border-colorGrey);
    border-radius: 50%;
    position: relative;
    bottom: 4rem;
}

.contentTextLight:hover .circle {

    border: 2px solid var(--border-colorBlue);
    box-shadow: 1px 1px 1px var(--border-colorBlue);
    transition: transform .5s;
}

.contentTextLight:hover .fas {
    -ms-transform: scale(1.2, 1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2, 1.2);
    /* Safari */
    transform: scale(1.2, 1.2);

    transition: transform .5s;
}

.textDarkP {
    color: var(--font-colorBlack);
    text-align: center;
    font-weight: 700;
    letter-spacing: .2rem;
    word-spacing: 1rem;
    margin-top: 1rem;
}

.contentTextLight:hover .textDarkP {
    color: var(--font-colorBlue);
    transition: color .5s;
}

.textDarkH {
    color: var(--font-colorBlack);
    text-align: center;
    /* letter-spacing: .5rem; */
    word-spacing: 1.5rem;
}

.textDarkPThing {
    color: var(--font-colorBlack);
    text-align: center;
    letter-spacing: .5rem;
    word-spacing: 1.5rem;
}

/* fontResponsive */
@media(max-width: 414px) {
    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
    }
}

/* remove blue border toggle icon */
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* remove blue border toggle icon */

/* textBlock */

/* Card */
.card {
    /* width: 100%; */
    color: var(--font-colorBlack);
    text-align: center;
    height: 100%;
    overflow: hidden;
}


.card-text {
    letter-spacing: 0;
    word-spacing: 0.2rem;
}

.card-img-top-home {
    height: 11rem;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
}



.card:hover .card-img-top-home {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card:hover .card-title-home {
    color: var(--font-colorBlue);
}

/* Footer */

.footer-logo {
    padding: 3rem 3rem;


}

.footer img {
    filter: brightness(1.5);
    block-size: 6rem;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
}

.footer-links h4 {
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 100;
}

.footer-links a {
    padding: 1rem;
    font-size: 2rem;
}

.footer-links a:hover {
    color: var(--font-colorBlue);
}

/* Responsible footer */
@media(max-width: 992px) {
    .footer-links h4 {
        padding-top: 1.2rem;
    }
}

@media(max-width: 414px) {
    .footer img {
        display: none;
    }

    .footer-logo {
        padding: 0;
    }
}

/* about */
.imgAbout {
    block-size: 20rem;
    color: var(--font-colorBlack);
    font-weight: 200;
    margin: 0 1rem 1rem 0;
}

.about p {
    color: var(--font-colorBlack);
    font-weight: 400;
    letter-spacing: 0;
    word-spacing: 0.2rem;
    text-align: center;
}

/* property table*/

.tableProperty tr {
    color: var(--font-colorBlack);
    text-align: left;
}

.boldProp {
    font-weight: 600;
}

/* property text description */
.textProperty p {
    color: var(--font-colorBlack);
    font-weight: 400;
    letter-spacing: 0;
    word-spacing: 0.2rem;
    text-align: left;
}

/* Image Property Slider */

/* Position the image container (needed to position the left and right arrows) */
.containerProp {
    position: relative;
    box-sizing: border-box;
}

.containerProp h4 {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: var(--font-colorGrey);
}

/* Image sizing mySlides */
.mySlides>img {
    height: 29.375rem;
    object-fit: cover;
}

/* Thumbnail Image sizing columnProp */
.columnProp>img {
    height: 4.875rem;
    object-fit: cover;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--back-colorBlue);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Ten columns side by side */
.columnProp {
    float: left;
    width: 16.66%;
    margin-top: 1rem;
    margin-right: 1rem;
}



/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* propertyAll image */
.AllPropLinks>a>img {
    height: 13rem;
    object-fit: cover;
}

.AllPropLinks>a>img:hover {
    opacity: 0.6;
}

/* propertyAll image */

/* AllPropLinks Buttons   */
.AllPropLinks_buttons {
    padding: 0.2rem;
    margin-left: 0.1rem;
}

/* AllPropLinks Buttons   */